.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    font-size: 2.5rem;
    transition: 0.3s ease;
    color: white;
}

.navbar.fixed-bottom a {
    font-size: 1rem;
}

.navbar a:hover {
    color: #E9974A;
}

.navbar .dropdown-item:hover {
    background-color: white;
}

.navbar a::after {
    content: none;
}

.nav-link.active, .dropdown-item.active {
    color: #c0a467;
}

html, body {
    height: 100%;
    background-image: linear-gradient(to bottom,#badffc,#fff);
}

.main-title {
    font-size: 4rem;
    padding-top: 2rem;
}